#root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    width: 550px;
    margin: 70px 0 150px 0;
    >.header {
        font-weight: 700;
        font-size: 34px;
        line-height: 46px;
        text-align: center;
        color: #170f49;
        margin-bottom: 12px;
    }
    >.description {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #6f6c90;
        margin-bottom: 42px;
    }
    .window{
        background: #FFFFFF;
        border: 1px solid #EFF0F7;
        box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
        border-radius: 34px;
        padding: 0 45px 30px 45px;
        transition: 0.3s all ease-in-out;
        .progressBar{
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 25px;
            border-bottom: 1px solid #D9DBE9;
            margin-bottom: 50px;
            .pageCounter{
                transition: 0.3s all ease-in-out;
                width: 30px;
                height: 30px;
                background: #4A3AFF;
                border-radius: 50%;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
            }
            .range{
                width: 60px;
                height: 6px;
                background: #EFF0F7;
                border-radius: 40px;
                .rangeInner{
                    height: 100%;
                    width: 50%;
                    background: #4A3AFF;
                    border-radius: 40px;
                    transition: 0.3s all ease-in-out;
                }
            }
        }
        .dynamicWindow{
            transition: 0.3s all ease-in-out;
            .page{
                width: 100%;
                height: 100%;
            }
            .firstPage{
                >.header{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 35px;
                    color: #170F49;
                    margin-bottom: 7px;
                }
                >.description{
                    font-size: 18px;
                    line-height: 30px;
                    color: #6F6C90;
                    margin-bottom: 40px;
                }
                .flexContainer{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    flex-shrink: 0;
                    position: relative;
                    .flexElement{
                        width: 47%;
                        margin-bottom: 34px;
                        >label{
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 20px;
                            color: #170F49;
                            margin-bottom: 18px;
                            display: inline-block;
                        }
                        .inputDiv{
                            background: #FFFFFF;
                            border: 1px solid #EFF0F7;
                            box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
                            border-radius: 46px;
                            height: 50px;
                            position: relative;
                            // overflow: hidden;
                            padding: 0 40px 0 10px;
                            >input{
                                height: 100%;
                                width: 100%;
                                border: none;
                                outline: none;
                                font-size: 15px;
                                line-height: 20px;
                                background: none;
                            }
                            >.imgDiv{
                                position: absolute;
                                top: 0;
                                right: 12px;
                                height: 100%;
                                display: flex;
                                align-items: center;
                            }
                            >.errorMessage{
                                position: absolute;
                                bottom: -15px;
                                left: 10px;
                                color: rgb(255, 36, 36);
                            }
                        }
                    }
                    >button{
                        position: absolute;
                        background: #4A3AFF;
                        box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
                        border-radius: 56px;
                        bottom: -112px;
                        right: -45px;
                        width: 165px;
                        height: 50px;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
                }
            }
            .secondPage{
                display: none;
                >.header{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 35px;
                    color: #170F49;
                    margin-bottom: 7px;
                }
                >.description{
                    font-size: 18px;
                    line-height: 30px;
                    color: #6F6C90;
                    margin-bottom: 39px;
                }
                >.flexContainer{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    flex-shrink: 0;
                    >.flexElement{
                        width: 48%;
                        height: 100px;
                        margin-bottom: 20px;
                        >input{
                            display: none;
                            &:checked+label{
                                border: 2px solid #4A3AFF;
                            }
                        }
                        >label{
                            transition: 0.3s all ease-in-out;
                            background: #FFFFFF;
                            border: 2px solid transparent;
                            box-shadow: 0px 2px 11px rgba(69, 65, 164, 0.06), 0px 4px 10px rgba(31, 37, 89, 0.07);
                            border-radius: 16px;
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            width: 100%;
                            height: 100%;
                            padding: 0 20px;
                            cursor: pointer;
                            .iconDiv{
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                                background: rgba($color: #4A3AFF, $alpha: 0.15);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
            .thirdPage{
                display: none;
            }
            .fourthPage{
                display: none;
            }
        }
    }
}


